.idea/
*.iml
*.iws

.DS_Store

**/.terraform/
**/.terraform.tfstate.lock.info

*.tfstate
*.tfstate.*

*.tfplan
*.tfplan.*

*.tfvars
*.tfvars.json
!*.tfvars.example

override.tf
override.tf.json
*_override.tf
*_override.tf.json

crash.log
crash.*.log

*.pem

iac/modules/lambda-authorizer/build/

__pycache__/
*.pyc
