aws_region       = "us-east-1"
lambda_image_tag = "latest"

# lambda_extra_env = {
#   MP_JWT_VERIFY_PUBLICKEY = "-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
#   SMALLRYE_JWT_SIGN_KEY   = "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
# }
